/* MyWeb - style.css 
    Author: Ángel Adrián López Carranza
    Created: 2025-06-19
    Notes: This file is designed to use BEM naming convention.
*/

body, html {
    margin: 0;
    padding: 0;
}

.header__title {
    color: azure;
    margin: 18px auto;
    font-family: "Open Sans", sans-serif;
}

.body__header {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: cornflowerblue;
}

.body__content {
    margin: 36px;
    padding: 24px;
    text-align: center;
    font-family: "Jost", sans-serif;
}

.body__footer {
    padding: 18px;
    color: azure;
    text-decoration: none;
    background-color: cornflowerblue;
    font-family: "Inconsolata", monospace;
}

.footer__link {
    color: azure;
}
